<component :is="componentToCreate" :document="document">
  <el-dropdown slot="button" @command="handleCommand">
    <el-button type="text" class="el-icon-more"></el-button>
    <el-dropdown-menu slot="dropdown">
      <el-dropdown-item command="share">Share</el-dropdown-item>
      <el-dropdown-item command="move">Move</el-dropdown-item>
      <el-dropdown-item command="rename">Rename</el-dropdown-item>
      <el-dropdown-item command="delete" divided>Delete</el-dropdown-item>
    </el-dropdown-menu>
  </el-dropdown>
</component>
