<component :is="componentToCreate" :document="document">
  <template slot="documentName">
    <span>{{document.displayName}}</span>
  </template>
  <template slot="button">
    <el-dropdown trigger="click" @command="handleCommand">
      <el-button type="text" class="el-icon-more"></el-button>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item command="share">Share</el-dropdown-item>
        <el-dropdown-item command="move">Move</el-dropdown-item>
        <el-dropdown-item command="edit">Edit</el-dropdown-item>
        <el-dropdown-item command="download">Download</el-dropdown-item>
        <el-dropdown-item command="delete" divided>Delete</el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
    <el-dialog
      title="Rename album"
      :visible.sync="renameAlbumDialogVisible">
      <el-form :model="albumForm" label-position="left" label-width="120px" :rules="rules"
               ref="albumForm">
        <el-form-item label="Album name" prop="documentName">
          <el-input :placeholder="document.displayName"
                    size="small"
                    v-model="albumForm.documentName">
          </el-input>
        </el-form-item>
      </el-form>
      <el-button @click="cancelEdit">Cancel</el-button>
      <el-button type="primary" @click="saveDocument">Save</el-button>
    </el-dialog>
    <el-dialog
      title="Edit picture"
      :visible.sync="editPictureDialogVisible">
      <el-form :model="pictureForm" label-position="left" label-width="120px" :rules="pictureRules"
               ref="pictureForm">
        <el-form-item label="Picture name" prop="pictureName">
          <el-input :placeholder="document.displayName"
                    size="small"
                    v-model="pictureForm.pictureName">
          </el-input>
          <el-input placeholder="Add description to this image"
                    type="textarea"
                    autosize
                    v-model="pictureForm.description">
          </el-input>
        </el-form-item>
      </el-form>
      <el-button @click="cancelEdit">Cancel</el-button>
      <el-button type="primary" @click="saveDocument">Save</el-button>
    </el-dialog>
    <el-dialog
      title="Move"
      @open="onMovedialogOpen"
      :visible.sync="moveDialogVisible">
      <el-tree
        :data="[albumHierarchy]"
        :props="defaultProps"
        accordion
        @node-click="selectAlbum">
      </el-tree>
      <div class="mt-2">
        <el-button @click="cancelMove">Cancel</el-button>
        <el-button type="primary" @click="moveDocument">Move</el-button>
      </div>
    </el-dialog>
  </template>
</component>
