<div>
  <el-breadcrumb class="my-3" separator-class="el-icon-arrow-right">
    <el-breadcrumb-item :to="{ path: '/' }">gallery</el-breadcrumb-item>
    <el-breadcrumb-item>vacation</el-breadcrumb-item>
  </el-breadcrumb>
  <el-row :gutter="10">
    <el-col class="mt-3" v-for="child in children" :xs="24" :sm="12" :md="6" :lg="4">
      <document-preview :document="child"></document-preview>
    </el-col>
  </el-row>
  <div class="divider my-4"></div>
  <el-row>
    <el-col :sm="24" :md="12">
      <h3>Comments</h3>
    </el-col>
    <el-col :sm="24" :md="12" class="text-center text-md-right">
      <el-upload
        class="upload-demo"
        drag
        action="https://jsonplaceholder.typicode.com/posts/"
        :on-preview="handlePreview"
        :on-remove="handleRemove"
        :file-list="fileList"
        multiple>
        <i class="el-icon-upload"></i>
        <div class="el-upload__text">Drop file here or <em>click to upload</em></div>
        <div class="el-upload__tip" slot="tip">jpg/png files with a size less than 500kb</div>
      </el-upload>
    </el-col>
  </el-row>
</div>
