<el-card class="folder" :body-style="{ padding: '0px' }">
  <div slot="header" class="d-flex align-items-center justify-content-between">
    <div>
      <span class="fa fa-lg fa-folder mr-2 color-info"></span>
      <span class="album-name" @click="openAlbum">
        <slot name="documentName"></slot>
      </span>
    </div>
    <slot name="button"></slot>
  </div>
  <div class="d-flex align-items-center justify-content-between p-2">
    <span>{{document.childCount}} items</span>
  </div>
</el-card>
